@model IEnumerable<CourseProject.Models.Post>

@{
    ViewBag.Title = "Discussion topics";
}

<h2><strong>This is the place to talk about everything</strong></h2>

<p>
    @Html.ActionLink("Create new Topic", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4><b>  @Html.DisplayNameFor(model => model.Title)</b></h4>
        </th>
        <th>
            <h4><b>  @Html.DisplayNameFor(model => model.Body)</b></h4>
        </th>
        <th>
            <h4><b>  @Html.DisplayNameFor(model => model.Date)</b></h4>
        </th>
        <th>
            <h4><b>  @Html.DisplayNameFor(model => model.Author.FullName)</b></h4>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <h5> @Html.DisplayFor(modelItem => item.Title)</h5>
        </td>
        <td>
            @CourseProject.Classes.Utils.CutText(item.Body,200)
        </td>
        <td>
           <i> @Html.DisplayFor(modelItem => item.Date)</i>
        </td>
        <td>
            @if (item.Author==null)
            {
                <i>Guest</i>
            }
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (User.IsInRole("Administrators")|| (item.Author!=null && User.Identity.Name == item.Author.UserName))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
